@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape) {
  .esri-widget {
    display: block;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : portrait) {
  .esri-widget {
    display: block;
  }
}
.diy {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.67);
  text-align: center;
  display: none;
}
#diy > p {
  font-size: 25px;
  padding-top: 20%;
  font-family: "Montserrat", sans-serif;
  color: #303d4c;
}
.sp-initial {
  display: none;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #b3d8c6;
  -webkit-font-smoothing: antialiased;
}
.dialog {
  position: absolute;
  bottom: 36px;
  right: 20px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : portrait) {
  .dialog {
    height: 46%;
    width: 100%;
    right: 0px;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape) {
  .dialog {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 40%;
  }
}
.dialog .card {
  position: relative;
  width: 400px;
  height: 360px;
  margin: 0px;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}
.dialog .card .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
}
.dialog .card .upload-btn-wrapper .btn {
  border: none;
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}
.dialog .card .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape) {
  .dialog .card {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : portrait) {
  .dialog .card {
    height: 100%;
    width: 100%;
  }
}
.dialog .card .card-primary {
  position: relative;
  min-height: 40px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : portrait) {
  .dialog .card .card-primary {
    height: 5%;
    min-height: 5%;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape) {
  .dialog .card .card-primary {
    height: 10%;
    min-height: 10%;
  }
}
.dialog .card .card-primary ul {
  float: left;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.dialog .card .card-primary ul.pull-right {
  float: right;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape) {
  .dialog .card .card-primary ul.pull-right {
    display: none;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : portrait) {
  .dialog .card .card-primary ul.pull-right {
    display: none;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape) {
  .dialog .card .card-primary ul.pull-left {
    display: none;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : portrait) {
  .dialog .card .card-primary ul.pull-left {
    display: none;
  }
}
.dialog .card .card-primary ul li {
  float: left;
  padding: 8px 6px 8px;
}
.dialog .card .card-primary ul li a {
  background: url('../img/sprite.png');
}
.dialog .card .card-primary ul li.undo {
  padding-left: 12px;
}
.dialog .card .card-primary ul li.undo a {
  width: 24px;
  height: 24px;
  display: block;
  background-position: 0 0;
}
.dialog .card .card-primary ul li.undo a.disabled {
  background-position: 0 -24px;
  pointer-events: none;
  cursor: default;
}
.dialog .card .card-primary ul li.redo a {
  width: 24px;
  height: 24px;
  display: block;
  background-position: 0 -48px;
}
.dialog .card .card-primary ul li.redo a.disabled {
  background-position: 0 -72px;
  pointer-events: none;
  cursor: default;
}
.dialog .card .card-primary ul li.random a {
  width: 24px;
  height: 24px;
  display: block;
  background-position: 0 -120px;
}
.dialog .card .card-primary ul li.help {
  padding-right: 12px;
}
.dialog .card .card-primary ul li.help a {
  width: 24px;
  height: 24px;
  display: block;
  background-position: 0 -96px;
}
.dialog .card .card-content {
  position: relative;
  padding: 0;
  border-radius: 0 0 0px 0px;
  height: calc(248px);
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : portrait) {
  .dialog .card .card-content {
    height: 75%;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape) {
  .dialog .card .card-content {
    height: 65%;
  }
}
.dialog .card .card-swatches {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.dialog .card .card-swatches .swatch {
  display: table-cell;
  height: 20px;
}
.dialog .card .card-swatches .swatch:nth-child(1) {
  background: #f4f4f4;
}
.dialog .card .card-swatches .swatch:nth-child(2) {
  background: #f4f4f4;
}
.dialog .card .card-swatches .swatch:nth-child(3) {
  background: #f4f4f4;
}
.dialog .card .card-swatches .swatch:nth-child(4) {
  background: #f4f4f4;
}
.dialog .card .card-swatches .swatch:nth-child(5) {
  background: #f4f4f4;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape) {
  .dialog .card .card-swatches {
    pointer-events: none;
    height: 10%;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : portrait) {
  .dialog .card .card-swatches {
    pointer-events: none;
    height: 10%;
  }
}
.dialog .card .card-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  width: 100%;
  display: table;
  table-layout: fixed;
  text-align: center;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : portrait) {
  .dialog .card .card-action {
    height: 15%;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape) {
  .dialog .card .card-action {
    height: 20%;
  }
}
.dialog .card .card-action a {
  display: table-cell;
  padding: 16px 0;
}
.dialog .card .card-action a:not(:last-child) {
  border-right: 1px solid #ccc;
}
.dialog .card .card-action a.disabled {
  pointer-events: none;
}
.dialog .card .btn {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: #303d4c;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : portrait) {
  .dialog .card .btn {
    font-size: 21px;
  }
}
